<mat-toolbar class="header-toolbar">
  <button mat-icon-button (click)="toggleSidebar()" class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title"> <a href="/creditcards" style="text-decoration: none; color: white;">CreditCard Management Portal</a></span>
  <span class="header-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="content-container">
  <mat-drawer mode="side" [opened]="sidebarOpen" class="sidebar">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>